.profile__edit-button {
  width: 23px;
  height: 23px;
  margin: 15px 0 0 18px;
  background-color: black;
  background-image: url('../../../images/edit-button.svg');
  border: none;
  background-position: center;
}
