.profile__edit-button {
  width: 23px;
  height: 23px;
  margin: 15px 0 0 25px;
  background-color: black;
  background-image: url('../../../images/edit-button.svg');
  border: none;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media all and (max-width: 500px) {
  .profile__edit-button {
    margin-top: 5px;
  }
}
