.header__logo {
  width: 142px;
  height: 33px;
  justify-self: start;
  align-self: start;
}

@media all and (max-width: 1000px) {
  .header__logo {
    padding-left: 10%;
  }
}

@media all and (max-width: 500px) {
  .header__logo {
    width: 100px;
    height: 20px;
  }
}
