.element__like-btn {
  width: 30px;
  border: none;
  background-color: white;
  background-image: url('../../../images/like.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.element__like-btn:hover {
  opacity: .5;
}
