.profile__edit-avatar {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.profile__avatar-wrapper:hover .profile__edit-avatar {
  display: flex;
}
